{{> header}}
{{> navbar}}
    <h1>Algunos de mis pintores favoritos</h1>
     <br>
    <p>"Leonardo Da Vinci"</p>
    <br>
    <p>"Pablo Picasso"</p>
    <br>
    <p>"Salvador Dalí"</p>
    <br>
    <p>"Vincent van Gogh"</p>
    <br>
</main>
{{> footer}}
